USERS="Users Mongodb connection string"
GUILDS="Guilds Mongodb connection string"
INTERNAL="Internal Mongodb connection string"
DISC="Discord Token"
SECRET="Discord Secret"
BOTID="Bot Discord User ID"
SALT="Random salt to encrypt data"
