<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/wpdata/default.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Roboto+Mono:ital,wght@1,200&display=swap"
        rel="stylesheet">
    <title>Kopi</title>
</head>

<style>
    body{
    background-color: #dbc1ac;
    }
    img{
        margin-top: 10%;
        display: block;
        margin: 0 auto;
        width: 45vh;
    }
    p{
        text-align: center;
        font-size: 30px;
        font-family: 'Roboto Mono', monospace;
    }
    .d{
        font-size: 25px;
    }
    .l{
        font-size: 20px;
    }
    a{
        color: black;
    }
</style>
<body>
    <img src="/images/wpdata/bg.png" alt="">
    <p>502</p>
    <p class="d">Bad Gateway</p>
    <p class="l">You can try to <a href="/">go back</a></p>
</body>
</html>
